<!DOCTYPE html>
{% load pwa %}
<html data-bs-theme="light">
<head>
    <title>NOTES</title>
    {% load static %}
		{% progressive_web_app_meta %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body class="fs-5" style="margin: 0;">
<nav class="navbar navbar-expand-lg flex-column mx-auto" style="max-width: 850px;" >
    <div class="container">
        <a class="navbar-brand text-center" href="{% url 'note_list' %}">
            <img src="{% static 'home.svg' %}" width="30" height="30" class="d-inline-block align-top" alt="Home">
            Home
        </a>
        {% if not user.is_authenticated %}
        <a class="navbar-brand text-center" href="{% url 'login' %}">
            <img src="{% static 'login.svg' %}" width="30" height="30" class="d-inline-block align-top" alt="Login">
            Login
        </a>
        <a class="navbar-brand text-center" href="{% url 'register' %}">
            <img src="{% static 'register.svg' %}" width="30" height="30" class="d-inline-block align-top"
                 alt="Register">
            Register
        </a>
        {% else %}
        <a class="navbar-brand text-center" href="{% url 'logout' %}">
            <img src="{% static 'logout.svg' %}" width="30" height="30" class="d-inline-block align-top" alt="Logout">
            Logout
        </a>
        <a class="navbar-brand text-center" href="{% url 'note_create' %}">
            <img src="{% static 'create.svg' %}" width="30" height="30" class="d-inline-block align-top" alt="Create">
            Create
        </a>
        {% endif %}
        <a class="btn navbar-brand text-center" id="btnSwitch" href="#">
            <img src="{% static 'lightbulb.svg' %}" width="30" height="30" class="d-inline-block align-top" alt="Theme">
        </a>
        <a class="btn navbar-brand text-center" href="{% url 'tags_list' %}">
            <img src="{% static 'listall.svg' %}" width="30" height="30" class="d-inline-block align-top" alt="List">
        </a>
        <form class="form-inline" action="{% url 'note_list' %}" style="margin: auto; display: block;">
            <input class="form-inline border border-primary rounded" type="search" placeholder="Search" aria-label="Search" name="search" style="max-width: 150px; vertical-align: middle;">
            <button class="btn " width="30" height="30" type="submit">
                <img src="{% static 'search.svg' %}" width="30" height="30" class="d-inline-block align-top"
                     alt="Search">
            </button>
        </form>
    </div>
</nav>
<hr class="pb-3" style="border-top: 2px solid grey; margin: 0;"/>
<div class="container main-content">
    <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8 article">
            <!--<div class="article-body page-body mx-auto" style="max-width: 400px;">-->
            {% block content %}
            {% endblock content %}
        </div>
    </div>
</div>
<div class="container" style="max-width: 850px;">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <span class="mb-3 mb-md-0 text-body-secondary">&copy; 2023 cr1m3s</span>
    </div>
    <ul class="nav col-md-4 justify-content-end d-flex"
      <li class="ms-3"><a class="text-body-secondary" href="https://www.linkedin.com/in/oleksii-parilov-086838bb/"><img src="{% static 'linkedin.svg' %}" class="bi" width="24" height="24" ></a></li>
      <li class="ms-3"><a class="text-body-secondary" href="https://gitlab.com/luv_cr1m3s"><img src="{% static 'gitlab.svg' %}" class="bi" width="24" height="24" ></a></li>
    </ul>
  </footer>
</div>
</body>
</html>
<script>
const button = document.querySelector('#btnSwitch');
function toggleDark() {
  if (document.documentElement.getAttribute('data-bs-theme') == 'dark') {
    document.documentElement.setAttribute('data-bs-theme', 'light')
    localStorage.setItem("theme", "light");
  } else {
    document.documentElement.setAttribute('data-bs-theme', 'dark')
    localStorage.setItem("theme", "dark");
  }
}
if (localStorage.getItem("theme") == "dark") {
	document.documentElement.setAttribute('data-bs-theme', 'dark')
}
document.getElementById('btnSwitch').addEventListener('click', toggleDark);
</script>
