{% extends 'base.html' %}

{% block content %}
<div class="container text-center text-success">	
	<h2 class="pt-3">Hello, {{ user.username|default:'Guest' }}!</h2>
	<div class="container" style="width:10%">
    {% if user.is_authenticated %}
        <a href="{% url 'logout' %}" class="btn btn-primary">Logout</a>
    {% else %}
        <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
    {% endif %}
	</div>
</div>
{% endblock %}
