{% extends 'base.html' %}
{% block content %}
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        {% for note in notes %}
        {% if forloop.first %}
        <div class="carousel-item active">
            {% else %}
            <div class="carousel-item" data-slide-to="{{ forloop.counter0 }}">
                {% endif %}
                {% if note %}
                {% include 'note.html' with username=request.user %}
                {% endif %}
            </div>
            {% endfor %}
        </div>
        <div clas="container">
            <div class="d-flex justify-content-between">
                <a class="btn btn-primary" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span aria-hidden="true">&#8656 Prev</span>
                </a>
                <a class="btn btn-primary"" href="#carouselExampleControls" role="button" data-slide="next">
                    <span aria-hidden="true">Next &#8658</span>
                </a>
            </div>
        </div>
    </div>
    {% endblock content %}
