{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% if username == note.creator %}
<div class="container" style="max-width:500px">
    <h2>Edit Note</h2>
    <div class="card mb-3 rounded" style="min-width:80%">
        <form method="POST" class="form-group">
            {% csrf_token %}
            {{ form | crispy }}
            <div class="text-center pb-3">
                <button type="submit" class="btn btn-success">Update note</button>
                <a href="{% url 'note_list' %}" class="btn btn-primary">Back</a>
            </div>
        </form>
    </div>
</div>
{% else %}
<h2>Only creator can edit note</h2>
{% endif %}
{% endblock %}
