<div class="card border-success mb-3">
    <div class="card-header text-success">{{ note.title }}</div>
    <div class="card-body">
        <div style="white-space:pre-line; word-wrap:break-word;color:#BC2302;" class="card-text">
            {{ note.text | safe }}
        </div>
        <div class="card-text">Tags:
            {% for tag in note.tags.all %}
                <a class="btn btn-sm btn-primary" href="{% url 'tag_details' tag.name %}"  >{{ tag.name }}</a>
            {% endfor %}
        </div>
        <p class="card-text">References:
            {{ ref.refs }}
        </p>
        <p class="card-text fs-6">id: {{note.id}}</p>
        <p class="card-text fs-6">created by: {{ note.creator }}</p>
        <p class="card-text fs-6">{{ note.date }}</p>
    </div>
    {% if username == note.creator %}
    <div class="d-flex text-center pb-3 justify-content-around">
        <a href="{% url 'note_edit' note.id %}" class="btn btn-warning" style="max-width: 50%;">Edit</a>
        <a href="{% url 'note_delete' note.id %}" class="btn btn-danger" style="max-width: 50%;">Delete</a>
    </div>
    {% endif %}
</div>
