{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
{% if username != None and request.user.is_authenticated %}
<div class="container" style="max-width:500px">
    <h2>Create Note</h2>
    <div class="card mb-3 rounded " style="min-width:80%">
        <form method="POST" class="form-group">
            {% csrf_token %}
            {{ form | crispy }}
            <div class="d-flex text-center pb-3 justify-content-around">
                <a href="{% url 'note_list' %}" class="btn btn-primary">Back</a>
                <button type="submit" class="btn btn-success">Create</button>
            </div>
        </form>
    </div>
</div>
{% else %}
<h2>Only loged in users can create notes.</h2>
{% endif %}
{% endblock content %}
