{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
		<h1 class="text-center mb-4">Register</h2>

		<form class="mb-4 mx-auto w-100 border rounded p-3" method="post">
			{% csrf_token %}
			{{ form | crispy }}
			<input class="btn btn-primary btn-lg text-wrap px-5 mt-2 w-100" type="submit" value="Register">
		</form>
{% endblock %}
