{% extends 'base.html' %}
{% block content %}
{% if tag %}
<div class="d-flex justify-content-center">
    <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">Tagname: {{ tag.name }}</div>
        <div class="card-body">
            <h5 class="card-title">Notes:</h5>
            {% for note in notes %}
            <a href="{% url 'note_details' note.id %}" class="link-dark">{{ note.title }}</a>
            <br>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
{% endblock content %}