{% extends 'base.html' %}
{% block content %}
<div class="d-flex justify-content-center">
<div class="row justify-content-center" style="max-width: 400px;">
{% for tagname, notes in  result.items %}
<div class="card border-primary p-0 mb-3" style="max-width: 400px;">
    <div class="card-header text-info">{{ tagname }}:</div>
    <div class="card-body text-primary">
        <div>
            {% for note in notes%}
            <a href="{% url 'note_details' note.id %}" class="link-primary">{{ note.title }}</a>
            <br/>
            {% endfor %}
        </div>
    </div>
</div>
    {% endfor %}
</div>
</div>
{% endblock content %}
