{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% block content %}
<div class="container" style="max-width:500px">
	<h2 class="text-center text-success">Login</h2>
		<form class="card p-4" method="post">
			{% csrf_token %}
			{{ form | crispy }}
			<div class="text-center">
				<input class="btn btn-primary mt-3" style="width:50%" type="submit" value="Login">
				<a  class="btn btn-warning m-3 text-center" style="width:50%" href="{% url 'dashboard' %}">Dashboard</a>
			</div>
		</div>
</div>
{% endblock %}
